{% extends 'base.html' %}

{% block title %}
    预约列表
{% endblock %}

{% load static %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'css/room.css' %}">
    <link href="http://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"> <!-- 图标库 -->
{% endblock %}

{% block nav_home_active %}
{% endblock %}

{% block nav_room_active %}
active
{% endblock %}

{% block content %}
    <div class="container"> <!-- 栅格系统需要被放在container容器中 -->
        <div class="row"> <!-- 首先定义行，再在行中定义列 -->
            <div class="col-xs-12 col-sm-9 col-md-8">  <!-- 预约显示部分 -->
                <div class="panel panel-primary">
                    {% block panel_block %}
                        <div class="panel-heading">{% block panel_list_title %}所有房间{% endblock %} —— 共有{{ rooms.paginator.count }}条预约</div> <!-- 过滤器 -->
                        <div class="panel-body">
                            {% block panel_list_body %}
                                {% for room in rooms %}
                                    <div class="room">
                                        <a href="{% url 'room_detail' room.pk %}">
                                            <h3>{{ room.room_type }}  {{ room.room_name }}</h3>
                                        </a>
                                    </div>
                                    <p class="room-author">
                                        <i class="fa fa-user fa-1x"></i>
                                        {{ room.room_user }}
                                    </p>
                                    <p class="room-author">
                                        <i class="fa fa-cog fa-spin fa-1x"></i>
                                        是否启用：
                                        {% if room.on_off %}
                                            <span style="color: red;">{{ room.on_off }}</span>
                                        {% else %}
                                            {{ room.on_off }}
                                        {% endif %}
                                    </p>
                                    <p class="room-author">
                                        <i class="fa fa-clock-o fa-1x"></i>
                                        {{ room.start_time }}
                                    </p>
                                    <p class="room-author">
                                        <i class="fa fa-clock-o fa-1x"></i>
                                        {{ room.end_time }}
                                    </p>
                                    {% empty %} <!-- 如果为空则执行下面代码 -->
                                    <p>--暂无预约，敬请期待--</p>
                                {% endfor %}
                            {% endblock %}
                        </div>
                        <div class="paginator" aria-label="Page navigation"> <!-- 页码设置 -->
                            <ul class="pagination">
                            <li>
                                    {% if rooms.has_previous %}
                                        <a href="?page={{ rooms.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    {% else %}
                                        <span aria-hidden="true">&laquo;</span>
                                    {% endif %}
                            </li>
                            {% for page_num in page_range %}
                                {% if page_num == rooms.number %} <!-- 判断页码如果是当前页，则设置为高亮状态 -->
                                    <li class="active"><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% else %}
                                    {% if page_num == '...' %} <!-- 让省略号不可被点击 -->
                                        <li><span>{{ page_num }}</span></li>
                                    {% else %}
                                        <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <li>
                                    {% if rooms.has_next %}
                                        <a href="?page={{ rooms.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    {% else %}
                                        <span aria-hidden="true">&raquo;</span>
                                    {% endif %}
                            </li>
                            </ul>
                            <p>
                                共有{{ rooms.paginator.count }}个预约
                                当前第{{ rooms.number }}页
                                共{{ rooms.paginator.num_pages }}页
                            </p>
                        </div>
                    {% endblock %}
                </div>
            </div>
            <div class="hidden-xs col-sm-3 col-md-4">  <!-- 房间分类部分 -->
                <div class="panel panel-primary">
                    <div class="panel-heading">房间分类</div> <!-- 过滤器 -->
                    <div class="panel-body">
                        <ul class="room-types">
                            {% for room_type in room_types %}
                                <li>
                                    <a href="{% url 'room_type_list' room_type.pk %}">
                                        {{ room_type.type_name }}
                                    </a>
                                </li>
                                {% empty %}
                                    <li>没有分类</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- {% for room in rooms %}
        <div>
            <a href="{% url 'room_detail' room.pk %}">
                <h3>{{ room.room_name }}</h3>
            </a>
        </div>
        <p>{{ room.room_user }}</p>
        <p>{{ room.user_id }}</p>
    {% endfor %} -->
{% endblock %}